* {
    box-sizing: border-box;
}
body {
    background-color: $mainBackground;
    font-family: 'Comfortaa', cursive;
}

h1{
    text-align: center;
    color: #FFF;
}

.show {
    opacity: 1 !important;
}

.hide {
    opacity: 0 !important;
}
